.stage1 {
  width: 830px;
}

.stage2 {
  width: 700px;
}

.stage3 {
  width: 510px;
}

.stage4 {
  width: 580px;
}

.stage5 {
  padding: 0 20px;
  width: 100%;
}

.input {
  height: calc(1.5em + 1rem + 2px);
  outline-style: none;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin: 10px 0;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}

.input:focus {
  box-shadow: 0 0 0 0.2rem rgb(34 117 218 / 8%);
}

.button {
  height: calc(1.5em + 1rem + 2px);
  border-radius: 0.3rem;
  font-size: 1.3rem;
  margin-top: 10px;
}
.title {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: left;
}
