.number-input {
  outline: none;
  position: relative;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 32px;
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 32px;
  width: 72px;
}

.number-input:hover {
  border-color: #40a9ff !important;
  box-shadow: 0 0 0 1px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;

  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.range-input {
  height: 5px;
  width: 200px;
}
