.dropdown_box {
  background: url("https://cdn.casbin.org/img/muti_language.svg");
  background-size: 25px, 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 65px;
  cursor: pointer;
  margin-left: 10px;
}

#Search {
  font-size: 14px;
  position: relative;
  margin: 10px 0 9px;
  padding: 15px 0;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.nav {
  height: 64px;
  border-right: none;
}

.nav li {
  float: left;
  height: 100%;
  line-height: 64px;
}

.nav a {
  text-decoration: none;
  font-size: 17px;
  display: block;
  height: 100%;
  padding: 0px 20px;
  color: #404040;
  font-weight: 400;
}

.nav-left a:hover {
  border-bottom: 3px solid #eb5424;
  color: #eb5424;
  transition: all 0.1s ease-in-out;
}

.ant-dropdown-menu-item {
  font-size: 18px;
  padding: 4px 50px;
  margin: 5px 0;
}

.dropdown li {
  padding: 0 10px;
}

.nav-collapse {
  position: absolute;
  list-style: none;
  top: 63px;
  left: 5%;
  right: 5%;
  background-color: white;
  box-shadow: 0 2px 5px rgb(0 0 0 / 7%);
  margin: 0;
}

.nav-collapse li {
  height: 100%;
  line-height: 50px;
}

.nav-collapse a {
  text-decoration: none;
  font-size: 17px;
  display: block;
  height: 100%;
  padding: 0px 20px;
  color: #404040;
  font-weight: 400;
  margin-bottom: 3px;
}

.nav-collapse a:hover {
  border-bottom: 3px solid #eb5424;
  color: #eb5424;
  transition: all 0.1s ease-in-out;
  margin-bottom: 0;
}

.selected a {
  border-bottom: 3px solid #eb5424;
  color: #eb5424;
  transition: all 0.1s ease-in-out;
  margin-bottom: 0;
}

.ant-dropdown-open {
  background-color: #f5f5f5;
}

.ant-dropdown-placement-topCenter {
  position: relative;
}
