.nav-sort {
  padding: 5px 8px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.node-nav-button {
  margin-right: 20px;
  color: #666 !important;
  font-size: 15px;
  line-height: 100%;
  padding: 8px;
}

.nav-sort li {
  margin: 5px 0;
}

.nav-sort li :hover {
  border-bottom: 2px dotted #f2f2f2;
  color: #404040 !important;
}

.sort {
  padding: 8px;
  line-height: 100%;
  font-size: 15px;
  margin-right: 5px;
  color: #666 !important;
  font-weight: 400;
}

.sort_current {
  color: #404040 !important;
  line-height: 100%;
  font-size: 15px;
  margin-right: 5px;
  padding: 8px;
  font-weight: 500;
}

.nodeNavBox-hide {
  display: none;
}

.mask-show {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 10;
}

.mask-hide {
  display: none;
}

.nodeNavBox-show {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
}

.ant-card-bordered {
  border: none;
}

.stage1-topic {
  width: 930px !important;
}

.stage2-topic,
.stage3-topic {
  width: 790px;
}

.stage4-topic {
  width: 560px;
}

.stage5-topic {
  width: 100%;
}

.stage1-rightBox {
  width: 300px;
  margin-left: 20px;
}

.stage2-rightBox {
  width: 250px;
  margin-left: 20px;
}

.stage2-rightBox img {
  height: 200px;
  width: 200px;
}

.stage3-rightBox {
  width: 790px;
}

.stage4-rightBox {
  width: 560px;
}

.stage5-rightBox {
  width: 100%;
}

.stage3-container,
.stage4-container,
.stage5-container {
  flex-direction: column;
}
